.blog-detail-section {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
}

.back-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin: 0;
}
