.navigation-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#35373D;
    color: white;
    font-size: 1.1rem;
}

.navigation-image-container {
    flex-basis: 220px;
}

.navigation-inner-container {
    list-style-type: none;
    flex-basis: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.default-navigation-link, .active-navigation-link {
    text-decoration: none;
    color: white;
    border-bottom: transparent;
}

.active-navigation-link {
    border-bottom: 1px solid white;
}

